* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

:root {
  font-family: sans-serif;
  background-color: black;
  color: white;
}

/* .PlaylistGrid {
  display: grid;
  grid-template-columns: 10rem 10rem 10rem 10rem;
} */
