---
import "../styles/global.css"
import MainLayout from "../layouts/MainLayout.astro"
import Button from "../components/Button.astro"
import PlaylistCard from "../components/PlaylistCard.astro"
import Shelf from "../components/Shelf.astro"
---


<MainLayout title="Forside">
			<a href="#">Show all</a>
			<div class="PlaylistGrid">
			<PlaylistCard artist="Tobias Rahim" type="Artist"> <img src="img/rahim.jpeg" alt="Tobias Rahim"> </PlaylistCard>
			<PlaylistCard artist="Lamin" type="Artist"> <img src="img/lamin.jpg" alt="Lamin"> </PlaylistCard>
			<PlaylistCard artist="The Weekend" type="Artist"> <img src="img/the_weekend.jpg" alt="The Weekend"> </PlaylistCard>
			</div>
			<Shelf/>

		<Button variant="primary" size="medium">BUTTON</Button>
		<Button variant="secondary" size="small">BUTTON</Button>
</MainLayout>
