---
import TextBoks from "./TextBoks.astro"
---

<section>
    <h3>Your Library</h3>
    <TextBoks header="Create your first playlist" description="It's easy, we'll help you" />
    <TextBoks header="Lets find some podcasts to follow" description="We'll keep you updated on new episodes"/>
</section>