---
 const {header, description } = Astro.props;
---

<section>
    <h4>{header}</h4>
    <p>{description}</p>
</section>

<style>
    section {
        background-color: 		#222222; 
        border-radius: 0.5rem;}
</style>